<h5> contact info </h5>
<div class='row'>
<div class = 'col s6'>
<ul>
<li>email: Christopher.Huynh.is@gmail.com</li>
<li>phone: 510-332-1756</li>
<li> <%= link_to("Linkedin", "https://www.linkedin.com/in/christopher-huynh-28121a76/") %> </li>
<li> <%= link_to("Github", "https://github.com/ChHuynh")%> </li>
</ul>
</div>

